<div *ngIf="categories">
  <form class="form-inline" (ngSubmit)="filter()">
    <select class="form-control" name="category" [(ngModel)]="filterData.categoryId">
      <option *ngFor="let cats of categories" [ngValue]="cats.id">{{cats.name}}</option>
    </select>
    <input type="text" name="data" class="form-control" [(ngModel)]="filterData.dataName">
    <button type="submit" class="btn btn-default btn-xs">filter</button>
  </form>
</div>