<div class="container" *ngIf="news">
  <div class="row">
    <div class="col-md-12">
      <h1>{{news.title}}</h1>
      <br>
      <p>
        {{news.content}}
      </p>
    </div>


  </div>
</div> 

