<div class="container" *ngIf="page">
  <div class="row">
    <div class="col-md-12">
      <div class="button-group pull-right">
        <button class="btn btn-sm btn-default" (click)="changePage(-1)" [disabled]="currentPage < 1">
          <span class="glyphicon glyphicon-backward"></span>
        </button>
        <button class="btn btn-sm btn-default" (click)="changePage(1)" [disabled]="currentPage >= page.totalPages-1">
          <span class="glyphicon glyphicon-forward"></span>
        </button>
      </div>
      <app-filter (filterEmiter)="loadData($event)"></app-filter>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>naslov</th>
            <th>kategorija</th>
            <th>opis</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let news of page.content">
            <td>{{news.title}}</td>
            <td>{{news.category.name}}</td>
            <td>{{news.description}}
              <a class="btn btn-primary" [routerLink]="['/news',news.id]">detalji</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>